
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main">
  <div id="header"></div>
  <% if @output %>
    <div id="result">
      <div class="main">
        <div class="result_main">
          <div class="box">
            <strong>the kolaveri version</strong>
            <pre><%= @output %></pre>
            
            <p><%= link_to("/") { "Do another?" } %></p>
          </div>
          <div style="clear:both">
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div id="input">
    <p>You mama, try <a href="http://lyrics.wikia.com/" target="_blank">some song lyrics</a></p>
    <%= form_tag("/kolaverizer", :method => "post" ) do %>
      <textarea name="input_text" class="textarea"  rows="15"></textarea>
      <%= submit_tag("Submit",:name => 'button',:class =>'button') %>
    <% end %>
    </div>
  <% end %>

  <div id="share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="A quick one-off app to kolaverize any song" data-count="vertical">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

  <div class="fb-like" data-href="http://kolaverizer.mobme.in/" data-send="true" data-width="450" data-show-faces="true"></div>
  </div>
</div>
