<div class="main">
  <div id="header"></div>
  <% if @output %>
    <div id="result">
      <div class="main">
        <div class="result_main">
          <div class="box">
            <strong>the kolaveri version</strong>
            <pre><%= @output %></pre>
            
            <p><%= link_to("/") { "Do another?" } %></p>
          </div>
          <div style="clear:both">
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div id="input">
    <p>You mama, try <a href="http://lyrics.wikia.com/" target="_blank">some song lyrics</a></p>
    <%= form_tag("/kolaverizer", :method => "post" ) do %>
      <textarea name="input_text" class="textarea"  rows="15"></textarea>
      <%= submit_tag("Submit",:name => 'button',:class =>'button') %>
    <% end %>
    </div>
  <% end %>
</div>
